.sectionAnnouncement {
  margin-top: 15px;
  margin-bottom: 15px;
  border: solid black 0.2em;
  padding: 1em;
}

.sectionFooter {
  margin-top: 20px;
  color: gray;
}

.sectionHeader {
  margin-bottom: 10px;
  margin-right: 10px;
  float: right;
}

.creationDateSpan {
  float: right;
}
