.section {
  margin: 0.2em;
}

.sectionMain {
  background-color: #0c0742;
  padding-top: 5em;
  height: 100vh;
}

.button {
  width: 100%;
}

.p {
  color: white;
  font-size: 72px;
  padding-bottom: 0.5em;
  text-align: center;
}
