.myTable {
  width: 70%;
}

.tableColumn {
  width: 20%;
}

.dropDownForm {
  margin-bottom: 10px;
}

.submitButton {

}

.wellInput {
  padding-bottom: 0px;
}

.wellUpdate {
  width: 70%;
}

.updateScheduleButton {
  margin: 10px;
}
